.header-image-container {
  position: relative;
  width: 100%;
  height: 400px; 
  overflow: hidden;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%; 
}

.overlay-content h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.overlay-content .search-bar {
  margin-bottom: 20px;
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
}

.overlay-content .input-group-text {
  background-color: #ff0000; 
  color: #fff;
}

.overlay-content .form-control {
  border-radius: 0;
}

.overlay-content .filters .form-control {
  width: 150px; 
  margin: 0 10px; 
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  height: 100%; 
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px; 
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: #ff0000; 
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group .btn {
  flex: 1;
  margin-right: 5px;
}

.button-group .btn:last-child {
  margin-right: 0;
}

.btn-primary, .btn-success {
  background-color: #ff0000; 
  border: none;
  text-align: center;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover, .btn-success:hover {
  background-color: #cc0000; 
}

.row .col-md-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding: 15px; 
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: center;
  }

  .filters .form-control {
    width: 100%;
    margin-bottom: 10px;
  }

  .card-img-top {
    height: 200px; 
  }

  .row .col-md-4 {
    flex: 0 0 100%; 
    max-width: 100%; 
  }
}

h1 {
  text-align: center;
}
